@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*, *:before, *:after {
  box-sizing: inherit;
}

/* to hide arrows from input number */
/* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.main_title_home {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #3D3C3A;
  text-transform: uppercase;
  text-align: center;
}

.about_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top:30px;
  margin-left: 120px;
  padding: 50px;
  text-align: center;
  background-color: rgba(229, 228, 226, 0.5);
  color: #3D3C3A;
  width: 80%;
  border-radius:10px;
  
}

.rectangle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.p_main_title_text{
  text-align: justify;
}

.title {
  color: grey;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


body {

  background: linear-gradient(45deg, rgba(60,189,196), rgba(60,189,196), rgba(70,124,212)  70.71%);
  font-family: "Trebuchet MS";
}

nav {
  position:fixed;
  top: 0; 
  background: linear-gradient(45deg, rgba(60,189,196), rgba(60,189,196), rgba(70,124,212)  70.71%);
  height: 80px;
  width: 100%;
  z-index: 1;
}

label.logo {
  color: #3D3C3A;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 0px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #3D3C3A;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background: #EBF4FA;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #3D3C3A;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


html {
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 100%;
}

#Nicolas {
    margin-left: 5%;
    margin-top: 2%;
    color: azure;

}

.titre1 {
    color:orange;
    margin-left:50px;
}
.titre2 {
  color:#3D3C3A;
  margin-left:70px;
}

.present_section{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 70%;
  flex-wrap: wrap;
}

.text1 {
    color:azure;
    margin-left:50px;
    padding:20px;
}
.text2 {
    color:azure;
}
.text3 {
    color:azure;
}
.text4 {
    color:azure;
}
.text5 {
    color:azure;
}
.box{
  display: flex;
  flex-direction:row;
  align-items: center;
  text-align: justify;
  margin-right: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.box2{
  display: flex;
  flex-direction:column;
}

.img1{
  box-shadow: inset 0 0 1em gold, 0 0 2em white;
  border-radius: 3px;
}

.img2{
  width: 350px;
  box-shadow: inset 0 0 1em gold, 0 0 2em white;
  border-radius: 5px;
  }

#mobiletitre {
    margin-left: 40%;
    margin-right:auto;
    margin-top: 3%;
    color:orange;
}
.hz {
    color: azure;
}
.proj{
  padding: 10px 20px;
  color: grey;
  
  

}
