@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*, *:before, *:after {
  box-sizing: inherit;
}

/* to hide arrows from input number */
/* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */


.main_title_home {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #3D3C3A;
  text-transform: uppercase;
  text-align: center;
}

.about_section {
  margin-bottom: 30px;
  margin-top:30px;
  padding: 50px;
  text-align: center;
  background-color: rgba(229, 228, 226, 0.5);
  color: #3D3C3A;
  width: 80%;
  border-radius:10px;
}

.p_main_title_text{
  text-align: justify;
}

.title {
  color: grey;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(45deg, rgba(60,189,196), rgba(60,189,196), rgba(70,124,212)  70.71%);
    min-height: 100vh;
}

nav {
  position:fixed;
  top: 0; 
  background: linear-gradient(45deg, rgba(60,189,196), rgba(60,189,196), rgba(70,124,212)  70.71%);
  height: 80px;
  width: 100%;
  z-index: 1;
}

label.logo {
  color: #3D3C3A;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 0px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #3D3C3A;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background: #EBF4FA;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #3D3C3A;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

html {
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

*{
    margin: 0px;
    padding: 0px;
    }

html {
    margin:0;
    padding:0;
    background-color: #000;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
#Nicolas {
    margin-left: 5%;
    color: azure;

}
body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0px;                    /* Suppression des marges internes */
    justify-content: left;/* Alignements des liens dans le menu */
    float: right;
    position: absolute;
    top:30px;
    right: 0px;
    
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: cadetblue;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #1ABC9C ;
    border-color: #1ABC9C ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}

#Hello {
    color: orange;
    font-size: 25pt;
    margin-left: 40%;
    margin-right:10%;
}
#Qui {
    color: azure;
    margin-left: 40%;
    margin-right: auto;
}
#presentation p {
    margin-left: 40%;
    margin-right:10%;
    color:azure;
}
.rectangle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.carre {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
    background-color: rgba(229, 228, 226, 0.5);
    border-radius:10px;
}

.item1{
  box-shadow: inset 0 0 1em white, 0 0 2em white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly, center;
  margin-top: 20px;
  border-radius:4px;
    }
.item2{
  padding-top:10px;
  flex-basis: 100%;
  display:flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #3D3C3A;
  text-align: center;
}
.item3{
  padding-top:10px;
  flex-basis: 100%;
  display:flex;
  justify-content: center;
  color:#3d3c3a81;
}
.item4{
  padding-top:10px;
  flex-basis: 100%;
  display:flex;
  justify-content: center;
  color:#3d3c3a81;
  border-bottom-width: 10px;
  border-bottom: solid;
  border-bottom-color: white;
  padding-bottom: 20px;
}
hr{
  width:50%;
  height: 5px;
  color:white;
}
.logox{
  padding-top:10px;
  padding-bottom:10px;
  flex-basis: 100%;
  height: 50px;
}

.logo1{
  display:flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}
ul{
  list-style-type: none;
}
.logoo{
  display: inline-flex;
  padding: 0 11.6px;
}